<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <title>Another Layout</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" type="text/css" href="./css/style.css" />
  </head>
  <body class="blue">
    <div class="wrapper">
        <header>Another Layout Header</header>
        <main>
          {{{body}}}
        </main>
        <footer>Another Layout footer</footer>
    </div>
  </body>
</html>